.input_user {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input_user label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input_user input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.input_user:focus {
  outline: none;
  border-color: #4f005f;
}